---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: squid-volume
spec:
  accessModes:
    - ReadWriteOnce
  capacity:
    storage: 500M
  hostPath:
    path: /data/squid-volume/
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: squid-volume-claim
spec:
  accessModes:
    - ReadWriteOnce
#  storageClassName: csi-hostpath-sc
  resources:
    requests:
      storage: 500M
---
apiVersion: v1
kind: Service
metadata:
  name: squid-service
  labels:
    app: squid
spec:
#  type: nodePort
  ports:
  - port: {{ squid_port }}
    targetPort: 8000
  type: LoadBalancer
  selector:
    app: squid
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: squid-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: squid
  template:
    metadata:
      labels:
        app: squid
    spec:
      containers:
      - name: squid
        image: ubuntu/squid:latest
        ports:
        - containerPort: {{ squid_port }}
          name: squid
          protocol: TCP
        volumeMounts:
        - name: squid-config-volume
          mountPath: /etc/squid/squid.conf
          subPath: squid.conf        
        - name: squid-auth-config
          mountPath: /etc/squid/auth_conf
          subPath: auth_conf
        - name: squid-domain-list
          mountPath: /etc/squid/domain_list.acl
          subPath: domain_list.acl
        - name: squid-data
          mountPath: /var/spool/squid
      volumes:
        - name: squid-config-volume
          configMap:
            name: squid-config
            items:
            - key: squid.conf
              path: squid.conf
        - name: squid-auth-config
          configMap:
            name: squid-config
            items:
            - key: auth_conf
              path: auth_conf
        - name: squid-domain-list
          configMap:
            name: squid-config
            items:
            - key: domain_list.acl
              path: domain_list.acl                  
        - name: squid-data
          persistentVolumeClaim:
            claimName: squid-volume-claim